<div fxLayout="column" fxLayoutAlign="space-evently center">


  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Notes
        </mat-panel-title>
        <button mat-button [matMenuTriggerFor]="user" matTooltip="assignment_turned_in" title="New List">
          <mat-icon>assignment_turned_in</mat-icon>
        </button>
        <button mat-button [matMenuTriggerFor]="user" matTooltip="colorized" title="colorized">
          <mat-icon>brush</mat-icon>
        </button>
        <button mat-button [matMenuTriggerFor]="user" matTooltip="photo " title="photo ">
          <mat-icon>photo </mat-icon>
        </button>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="Title">
      </mat-form-field>
      <div>
        <mat-form-field>
          <input matInput placeholder="Description.." style="width: 800px">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="" style="width: 500px;">
          <button mat-button [matMenuTriggerFor]="user" matTooltip="Remind_me" title="Remind_me">
            <mat-icon>notifications_active</mat-icon>
          </button>
          <button mat-button [matMenuTriggerFor]="user" matTooltip="collaborator" title="collaborator">
            <mat-icon>person_add</mat-icon>
          </button>
      
    
          <button mat-button [matMenuTriggerFor]="user" matTooltip="change colour" title="change colour">
            <mat-icon>palette</mat-icon>
          </button>

          <button mat-button [matMenuTriggerFor]="user" matTooltip="image_icon" title="image_icon">
            <mat-icon>image_icon</mat-icon>
          </button>

        
          <button mat-button [matMenuTriggerFor]="more_vert" matTooltip="more_vert" title="more_vert">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #more_vert="matMenu">
              <button mat-menu-item>
                <span>Add Lables</span>
              </button>
              <button mat-menu-item>
                <span>Show Tick Boxes</span>
              </button>
            </mat-menu>


            <button mat-button [matMenuTriggerFor]=" undo" matTooltip=" undo" title=" undo">
                <mat-icon>undo</mat-icon>
               </button>
               <button mat-button [matMenuTriggerFor]=" redo" matTooltip=" redo" title=" redo">
                  <mat-icon>redo</mat-icon>
                 </button>
            <button mat-button [matMenuTriggerFor]=" close" matTooltip=" close" title=" close">
               close
              </button>


        </mat-form-field>
        
      </div>
    </mat-expansion-panel>
  </mat-accordion>


</div>