<div fxLayout="row" fxLayoutAlign="center center">
		<mat-card fxFlex="30%;" fxFlex.xs="50%" fxFlex.sm="50%" fxFlex.md="40%" color="btn-primary">

				<form [formGroup]="resetpasswordForm" (ngSubmit)="onSubmit(resetpasswordForm.value)">
			 
						<div fxLayout="row" fxLayoutAlign="center center">
								<h2>Reset Password</h2>
							</div>
							<div fxLayout="row" fxLayoutAlign="center center">
						<div class="form-group" class="container"> 
								<mat-form-field appearance="outline">
							 <mat-label for="password">Password</mat-label>
							 <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"formControlName="password" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
							 <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
						<mat-error *ngIf="submitted && f.password.errors" class="invalid-feedback">
						 <mat-error *ngIf="f.password.errors.required">Password is required</mat-error>
				</mat-error>
				</mat-form-field>
				</div>
			</div>
			<div fxLayout="row" fxLayoutAlign="center center">
					<div class="form-group" class="container"> 
							<mat-form-field appearance="outline">
						 <mat-label for="password">Password</mat-label>
						 <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"formControlName="password" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
						 <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
					<mat-error *ngIf="submitted && f.password.errors" class="invalid-feedback">
					 <mat-error *ngIf="f.password.errors.required">Password is required</mat-error>
			</mat-error>
			</mat-form-field>
			</div>
		</div>
				<div fxLayout="row" fxLayoutAlign="center center">
						<button mat-button color="btn-primary">Reset Password</button>
						</div>
</form>




			</mat-card>
			</div>