<!-- 
<div class="container" fxLayout="column" fxLayoutGap="5%" fxLayoutAlign="center center">
      <div fxFlex="80%" >
<app-create-note></app-create-note>
</div>
<div fxFlex="80%">
    <app-pin-notes></app-pin-notes>
    </div>
    <div *ngIf="notes!=0" >
  Others </div>
<div *ngFor="let notes of notes | noteFilter">
    <mat-card >
      <mat-card-header>
        <mat-card-title (click)= openDialog(notes)>

          {{notes.title}}
        
        </mat-card-title>
        <button mat-icon-button matTooltip="Pin_note" (click)=pinnedNotes(notes) title="Pin note" style="text-align:right;" >
            <mat-icon>pin_drop</mat-icon>
      </button>
      </mat-card-header>
      <mat-card-content (click)= openDialog(notes)>
        {{notes.discription}}
      </mat-card-content>
      
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let label of notes.labels" [removable]="removable" (removed)="remove(label,notes)">
          {{label.labelName}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
      <div>
        <button mat-icon-button matTooltip="Remind me">
          <mat-icon>add_alert</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Collaborator">
          <mat-icon>person_add</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Change color">
          <mat-icon>palette</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Add image">
          <mat-icon>image</mat-icon>
        </button>
        
        <button mat-icon-button matTooltip="Archive" (click)="updateArchiveNote(notes)" >
         <mat-icon>archive</mat-icon>
        </button>
       
        <button mat-icon-button class="icon-button" id="more" [matMenuTriggerFor]="more" matTooltip="more">
            <i id="accountcircle" class="material-icons">more_vert</i></button>
            <mat-menu #more="matMenu" class="morecard">
                <button mat-button (click)=moveToTrash(notes)>Delete Note</button>
                <br>
                <button mat-button (click)=openDialogLabels(notes)>Add Label</button>
              </mat-menu>
        <button mat-icon-button matTooltip="undo">
          <mat-icon>undo</mat-icon>
        </button>
        <button mat-icon-button matTooltip="redo">
          <mat-icon>redo</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>

<router-outlet></router-outlet>

 -->
 <div class="container" fxLayout="column" fxLayoutGap="10%" fxLayoutAlign="center center">
  <div fxFlex="80%">
    <app-create-note (eventCreate)="refresh($event)"></app-create-note>
    <p class="class">Pinned Notes</p>
    <app-pin-notes class="pinnedNotes" [notes]="notes | noteFilter:'pinned'" (updateEvent)="onClickUpdate($event)" [grid]="grid" (updateNoteEvent)="updateNoteToGrid($event)"></app-pin-notes>
    <p class="class">Others</p>
    <app-pin-notes [notes]="notes | noteFilter" (updateEvent)="onClickUpdate($event)"[grid]="grid" (updateNoteEvent)="updateNoteToGrid($event)"></app-pin-notes>
  
</div>
</div>




