<p>Edit label</p>
<div fxLayout="row" fxLayoutGap="5%">
    <div fxFlex="10%">
        <mat-icon>clear</mat-icon>
    </div>
    <div fxFlex=70%  contenteditable="true" class="textarea"
      id="labelName" #labelName>
    </div>
    <div fxFlex="10%">
        <mat-icon (click)="createLabel(labelName)">done</mat-icon>
    </div>
</div>

<div *ngFor="let label of labels">
    <div fxLayout=row>
        <div fxFlex=10%>
            <mat-icon class="icon" (click)=deleteLabel(label)>delete</mat-icon>
        </div>
        <div fxFlex=80% class="textarea" data-text="Create new label" contenteditable="true" id="text" #labl>
            {{label.labelName}}</div>
        <div fxFlex=10%>
            <mat-icon class="icon" (click)=updateLabel(label,labelName)>edit</mat-icon>
        </div>
    </div>
</div>

<button mat-button style="float:right" (click)="closeDailog()">Done</button>