<mat-list>
  <h3 mat-subheader>Colaborators</h3>
  <mat-divider></mat-divider>
  <mat-list-item *ngIf="user!=null">
    <mat-icon mat-list-icon *ngIf="imageData.imageSrc===null">account_circle</mat-icon>
    <img mat-list-icon class="image" *ngIf="imageData.imageSrc!=null" [src]="imageData.imageSrc">
    <h4 mat-line>{{user.name}}</h4>
    <p mat-line> {{user.emailId}} </p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>person_add</mat-icon>
    <input matInput [(ngModel)]="emailId" placeholder="Enter email id" class="text">
    <button mat-icon-button class="button">
      <mat-icon (click)="collaborate(user,emailId)">done</mat-icon>
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>
  <div class="saveButton">
    <button mat-button (click)="closeClick()">Close</button>
    <button mat-button (click)="collaborate(user,emailId)">Save</button>
  </div>
</mat-list>