<mat-label for="title"><b>Title</b></mat-label>
  <div>
    <input matInput class="note" [(ngModel)]="data.title" [value]=data.title placeholder="Title">
  </div>
  <br>
  <mat-label for="discription"><b>Description</b></mat-label>
  <div>
    <textarea matInput class="note"[(ngModel)]="data.discription" [value]=data.discription placeholder="Discription"></textarea>

    </div>
    <button mat-icon-button matTooltip="Remind me">
        <mat-icon>add_alert</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Collaborator">
        <mat-icon>person_add</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Change color">
        <mat-icon>palette</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Add image">
        <mat-icon>image</mat-icon>
      </button>

      <button mat-icon-button matTooltip="undo">
          <mat-icon>undo</mat-icon>
        </button>
        <button mat-icon-button matTooltip="redo">
          <mat-icon>redo</mat-icon>
        </button>
   
    <button mat-button (click)="updateNote(data,data.id)" style="float:right">Close</button>