<!-- <button mat-icon-button id="changcolor" [matMenuTriggerFor]="menu">
  <i class="material-icons">palette</i></button>
<mat-menu #menu="matMenu" class="menucard">
  <ul class="color-view">
    <li *ngFor="let color of colors">
      <div class="color-view-box" (click)="changeColor(color)" [style.background-color]="color"></div>
    </li>
  </ul>
</mat-menu> -->

<button mat-icon-button class="material-icons innerIconDiv" (click)="colorChange()">
<mat-icon>palette</mat-icon>  
</button>
  
<div *ngIf="colorMenu" class="colorMenuDiv">
  <button class="colorMenuButton" mat-mini-fab *ngFor="let customColor of colors"
  [style.background]="customColor" (click)="addColor(customColor)">
  </button>
  </div>

