.colorMenuDiv {
    width:136px;
    height:110px;
    position:absolute;
    z-index: 2;
    border:1px solid #e8e8e8
    }
    
    .colorMenuButton {
    height:26px;
    width:26px;
    margin:4px;
    }