
:host
{
  .mainClass{
   
    border-radius: 30px;
    color: wheat;
  }
  .note{
      
    text-align: left;
    width: 100%;
      height: 100%;
      font-size:12pt;
      font-style: bold;
      border: hidden;
      display: flex;
      outline: none;
  }
  .align{

    text-align: center;
  }
   .container {
    .mat-card-header {
        display: flex;
        justify-content: space-between;
        button {
            &.pinned-icon {
                // background-color:orange;
                width:20px;
            }
            img {
                width:25px;
            }
        }
    }
    
}
}