

<mat-sidenav-container class="keep-sidebar-container">
  <mat-sidenav #drawer mode="side" opened role="navigation" class="sidebar">
    <mat-nav-list class="colour_place">
      <button mat-menu-item (click)="notes()" >
        <mat-icon>lightbulb_outline</mat-icon>
        <span>Notes</span>
      </button>
      <button mat-menu-item [routerLink]="['/homepage/remainder']">
        <mat-icon>notifications_none</mat-icon>
        <span>Remainder</span>
      </button>
      <mat-divider></mat-divider><br>


      <span>
        <font size="2" face="arial">LABELS</font>
      </span>
    
     

    
     
      <div *ngFor="let label of labels" >
        <div fxLayout=row fxLayoutGap="10%">
          <button mat-button class=labelbutton >
           
            <mat-icon>label_outline</mat-icon> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div fxFlex="90%" >{{label.labelName}}</div>
          </button>
        </div>
</div>


      <button mat-menu-item (click)="openDialog()">
        <mat-icon>edit</mat-icon>
        <span>Edit Labels</span>
      </button>
       
      <mat-divider></mat-divider>
 

      <button mat-menu-item [routerLink]="['/homepage/archive']">
        <mat-icon>archive</mat-icon>
        <span>Archive</span>
      </button>

      <button mat-menu-item [routerLink]="['/homepage/trash']">
        <mat-icon>delete_outline</mat-icon>
        <span>Trash</span>
      </button>

      <br>
      <br>
      <div class="privacy">
         
        <a href="https://www.google.com/policies/privacy/" target="_blank"  >Privacy</a>
        .
        <a href="http://www.google.com/policies/terms/" target="_blank" >Terms</a>
     <br>
          <a href="http://ssl.gstatic.com/keep/open-source_licenses.txt" target="_blank"  >Open-source licences</a> 
        
      </div>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <router-outlet></router-outlet>
    <!-- <app-retrieve-notes></app-retrieve-notes> -->
  </mat-sidenav-content>
</mat-sidenav-container>