    

        :host{
            .cdk-focused {
                background-color:#f3e6ae;
                border-bottom-right-radius: 25px;
                border-top-right-radius: 25px;
                }
                .keep-sidebar-container{
                    height: 100% ;
                    }
                    .sidebar{
                       border-right: 5px solid rgba(235, 120, 27, 0.5);
                    }
                    
                    .colour_place{
                        place-content: 5px solid rgba(235, 120, 27, 0.5);
                        color: rgb(26, 27, 4) !important;
                      //  background-color: rgb(202, 101, 18); 
                    }

                    .navbar{
                        display: flex;
                    }
                    .labelbutton{
                        width: 250px;
                        border: none;
                    }
                    button.mat-menu-item {
                        width: 270px;
                    }
                    
        }